DATABASE_URL="postgresql://username:password@localhost:5432/database_name"
NUXT_AUTH_SECRET="your-secret-key-here-of-at-least-32-characters"
NUXT_AUTH_GITHUB_ID="your-github-client-id"
NUXT_AUTH_GITHUB_SECRET="your-github-client-secret"